

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body { 
	width:100%; margin:0px;
	background: black url(Images/objects/pat_maze.png) repeat;
	font-family: 'DroidSerifRegular', arial;
	font-size: 14px;
	line-height: 1.5em;
	}

.resume:hover {
	color:#99FF99;
	}

.resume {
	text-decoration:none;
	cursor:pointer;
	color: rgb(168,168,168); 
	font-style: italic;
	}

#header-container2 {
	width: 100%;
	position: fixed;
	height: 83px;
	box-shadow: 4px 4px 3px rgba(0,0,0,0.2);
	background: black;
	background-image: black; /* fallback */
	background-image: url(Images/egg_shell.png), -webkit-gradient(linear, left top, left bottom, from(#282828), to(#080808 )); /* Saf4+, Chrome */
	background-image: url(Images/egg_shell.png), -webkit-linear-gradient(top, #282828, #080808 ); /* Chrome 10+, Saf5.1+ */
	background-image: url(Images/egg_shell.png),    -moz-linear-gradient(top, #282828, #080808 ); /* FF3.6+ */
	background-image: url(Images/egg_shell.png),     -ms-linear-gradient(top, #282828, #080808 ); /* IE10 */
	background-image: url(Images/egg_shell.png),      -o-linear-gradient(top, #282828, #080808 ); /* Opera 11.10+ */
	background-image: url(Images/egg_shell.png),         linear-gradient(top, #282828, #080808 ); /* W3C */
	border-bottom:2px solid #181818;
	border-top:1px solid #202020;
	}


.header-image {
	width: 10%;
	}
	
h2 {
	width: 100%;
	color: lightgray;
	font-family: 'SourceSansProSemiboldItalic', arial;
	font-size: 1.7em;
	}

h3 {
	width: 50%;
	color: lightgray;
	font-family: 'SourceSansProSemiboldItalic', arial;
	font-size: 1 em;
	margin-bottom: 10px;
	}

.arrow {
	width: 30px;
	float: right;
	margin-top: 0px;
	opacity: .25;
	}

.arrow:hover {
	opacity: 1.0;
	}

#block1 {
	background: #080808 url(Images/objects/pat_maze.png) repeat;
	width: 350px;
	height: 500px;
	float: right;
	color: rgb(168,168,168);
	padding: 15px 25px 15px 30px;
	}

.sidebar {
	position: absolute;
	width: 350px;
	height: 465px;
	line-height: 1.5em;
	color: rgb(168,168,168);
	top: 83px;
	background: rgb(0, 0, 0, 0.65);
	font-size: 14px;
	padding: 15px 15px 15px 30px;
	box-shadow: 2px 0px 4px rgba(0,0,0,0.00001);
	-webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease;
	opacity: .0;
	margin-top: -20px;
	}
.sidebar:hover {
	position: absolute;
	width: 350px;
	height: 461px;
	line-height: 1.5em;
	color: rgb(168,168,168);
	top: 86px;
	background: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	padding: 15px 15px 15px 30px;
	box-shadow: 2px 0px 4px rgba(0,0,0,0.2);
	opacity: 1.0;
	margin-top: 0;
	}

p + p { 
	margin-top: 0.7em; 
	}

#menu-wrapper {
	margin-top: 32.5px;
	position: fixed;
	background-color: ;
	margin-left: 75%;
	}

#top {
	font-size: 2.75em;
	font-family: 'SourceSansProBold', arial;
	text-transform: uppercase;
	}
	
#top li {
	float: right;
	}

.divide {
	color: #666666;
	font-size: .9em;
	padding-top: 1px;
	font-family: 'SourceSansProExtraLight', arial;
	}

#top li a{
	color: #B8B8B8;
	font-size: .75em;
	text-decoration: none;
	}

#top li a:hover {
    color: #303030;
    text-decoration: none;
	}

.divide2 {
	float: right;
	color: #484848;
	font-size: 1.5em;
	font-family: 'SourceSansProExtraLight', arial;
	opacity: .3;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	}

#icon_pack {
	float: right;
	margin-top: -7px;
	margin-right: 1%;
	width:100%;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);	
	}

.icon {
	margin-right: 1px;
	width:30px;
	float:right;
	opacity: .25;
	color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	}

.icon:hover {
	opacity: .75;
	}

tr { 
	vertical-align: top;
	}

.image_full {
	width: 100%;
	box-shadow: 0px 1px 2px black;
	}

#bio {
	margin-top: 40px;
	}

#bio-type {
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	}

#bio_name {
	margin-bottom: 10px;
	}

.post { 
	width: 1024px; 
	}

#footer {
	font-size: 10px;
	color: #383838;
	padding-top: 10%;
	text-align: left;
	text-shadow: 1px 1px 4px rgba(255,255,255,0.1)
	}

/////////////////////////////////////////////////*Videos*/////////////////////////////////////////////////
	
.fancybox-type-iframe .fancybox-nav {
    width: 60px;       
}

.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-type-iframe .fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-type-iframe .fancybox-next {
    right: -6000px;
}

.fancybox-type-iframe .fancybox-prev {
    left: -6000px;
}

/////////////////////////////////////////////////*Typeface*/////////////////////////////////////////////////

@font-face {
    font-family:'chunkfive_romanregular';
    src: url('fonts/chunk/chunkfive-webfont.eot');
    src: url('fonts/chunk/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chunk/chunkfive-webfont.woff') format('woff'),
         url('fonts/chunk/chunkfive-webfont.ttf') format('truetype'),
         url('fonts/chunk/chunkfive-webfont.svg#chunkfive_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('fonts/source/SourceSansPro-Bold-webfont.eot');
    src: url('fonts/source/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('fonts/source/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('fonts/source/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'SourceSansProSemiboldItalic';
    src: url('fonts/source/SourceSansPro-SemiboldIt-webfont.eot');
    src: url('fonts/source/SourceSansPro-SemiboldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source/SourceSansPro-SemiboldIt-webfont.woff') format('woff'),
         url('fonts/source/SourceSansPro-SemiboldIt-webfont.ttf') format('truetype'),
         url('fonts/source/SourceSansPro-SemiboldIt-webfont.svg#SourceSansProSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	
@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url('fonts/source/SourceSansPro-ExtraLight-webfont.eot');
    src: url('fonts/source/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source/SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         url('fonts/source/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         url('fonts/source/SourceSansPro-ExtraLight-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('fonts/source/SourceSansPro-Regular-webfont.eot');
    src: url('fonts/source/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('fonts/source/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('fonts/source/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {   
    font-family: 'SourceSansProLightItalic';
    src: url('fonts/source/SourceSansPro-LightIt-webfont.eot');
    src: url('fonts/source/SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/source/SourceSansPro-LightIt-webfont.woff') format('woff'),
         url('fonts/source/SourceSansPro-LightIt-webfont.ttf') format('truetype'),
         url('fonts/source/SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'MuseoSlab500Regular';
    src: url('fonts/museo/Museo_Slab_500-webfont.eot');
    src: url('fonts/museo/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/Museo_Slab_500-webfont.woff') format('woff'),
         url('fonts/museo/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('fonts/museo/Museo_Slab_500-webfont.svg#MuseoSlab500Regular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'MuseoSlab500Italic';
    src: url('fonts/museo/Museo_Slab_500italic-webfont.eot');
    src: url('fonts/museo/Museo_Slab_500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/Museo_Slab_500italic-webfont.woff') format('woff'),
         url('fonts/museo/Museo_Slab_500italic-webfont.ttf') format('truetype'),
         url('fonts/museo/Museo_Slab_500italic-webfont.svg#MuseoSlab500Italic') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'DroidSerifRegular';
    src: url('fonts/droid/DroidSerif-Regular-webfont.eot');
    src: url('fonts/droid/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droid/DroidSerif-Regular-webfont.woff') format('woff'),
         url('fonts/droid/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('fonts/droid/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

























