

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET - THIS IS MY CODE*/

body {
	width: 100%;
	font-family: helvetica;
	font-size: 10pt;
	color: gray;
	}

#site-wrapper {
	width: 100%;
	background-color: background-image: linear-gradient(bottom, rgb(255,255,235) 59%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(255,255,235) 59%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,235) 59%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,235) 59%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,235) 59%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.59, rgb(255,255,235)),
	color-stop(1, rgb(255,255,255))
);
	}

#site-header {
	margin:0 auto;
	width: 1050px;
	position: relative;
	height: 150px;
	background-color: background-image: linear-gradient(bottom, rgb(255,255,235) 59%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(255,255,235) 59%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,235) 59%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,235) 59%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,235) 59%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.59, rgb(255,255,235)),
	color-stop(1, rgb(255,255,255))
);
	}

#site-header h1 {
	position: absolute;
	top: 20px;
	left: 150px;
	width: 356px;
	}

#site-header h1 a {
 	display:block;  
 	width: 356px; 
 	height: 123px;  
 	background: url(images/logo.png) no-repeat top left; 
 	text-indent: -9999px;
 }

#top-nav {
	position: absolute;
	top: 20px;
	right: 75px;
	text-decoration: none;
	}

#top-nav a {
	text-decoration: none;
	color: #744918;
	}

#menu-wrapper {
	width: 100%;
	background-color: #744918;
	}

#main-menu {
	background-color: #744918;
	height: 35px;
	margin-left: 200px;
	}

#main-menu li {
	float: left;
	margin-left: 50px;	
	margin-top: 8px;
	}
	
#main-menu li a {
	text-decoration: none;	
	font-weight: bold;
	font-size: 14pt;
	text-transform: uppercase;
	color: #ffffff;
	}
	
#content {
	}

#page {
	float: left;
	width: 600px;
	margin-left: 250px;
	margin-right: 50px;
	line-height: 16pt;
	margin-bottom: 50px;
	}

#sidebar {
	float: left;
	width: 20%;
	margin-top: 75px;
	}

#sidebar ul {
	margin-bottom: 20px;
	text-decoration: none;
	}
	
#sidebar a {
	text-decoration: none;
	font-weight: bold;
	color: #744918;
	}	

#img1 {
	margin-bottom: 10px;
	}

#footer-wrapper {
	clear: both;
	background-color: background-image: linear-gradient(bottom, rgb(116,73,24) 27%, rgb(134,92,50) 86%);
		background-image: -o-linear-gradient(bottom, rgb(116,73,24) 27%, rgb(134,92,50) 86%);
		background-image: -moz-linear-gradient(bottom, rgb(116,73,24) 27%, rgb(134,92,50) 86%);
		background-image: -webkit-linear-gradient(bottom, rgb(116,73,24) 27%, rgb(134,92,50) 86%);
		background-image: -ms-linear-gradient(bottom, rgb(116,73,24) 27%, rgb(134,92,50) 86%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.27, rgb(116,73,24)),
			color-stop(0.86, rgb(134,92,50)));
	position: relative;
	height: 170px;
	}
	
#footer-contact {
	width: 150px;
	float:left;
	margin-left: 250px;
	margin-top: 15px;
	color: #ffffff;
	font-size: 7pt;
	}
	
#footer-follow {
	width: 200px;
	float: right;
	margin-right: 125px;
	margin-top: 15px;
	}

#footer-follow li a{
	float: left;
	}

h4 {
	font-weight: bold;
	font-size: 35pt;
	font-family: georgia;
	font-style: italic;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #744918;
	}
	
#faq a {
	color: #b7c850 !important;
	}

h2 {
	font-weight: bold;
	font-size: 14pt;
	text-transform: uppercase;
	color: #744918;
	margin-top: 10px;
	margin-bottom: 10px;
	}


h6 {
	font-weight: bold;
	font-size: 14pt;
	text-transform: uppercase;
	color: #b39d81;
	margin-bottom: 5px;
	}

























