

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET - THIS IS MY CODE*/

body {
	background-color: yellow;
	width: 100%;
	}
	
site-wrapper {
	background-color: gray;
	}

#site-header {
	margin:0 auto;
	width: 960px;
	position: relative;
	height: 200px;
	background-color: teal;
	}

#site-header h1 {
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: red;
	width: 356px;
	}

#site-header h1 a {
 	display:block;  
 	width: 356px; 
 	height: 123px;  
 	background: url(images/logo.png) no-repeat top left; 
 	text-indent: -9999px;
 }

#top-nav {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: purple;
	}

#main-menu {
	background-color: orange;
	height: 100px;
	}

#main-menu li {
	float: left;
	margin-left: 50px;
	}
	
#content {
	}

#page {
	float: left;
	background-color: green;
	width: 60%;
	}

#sidebar {
	float: left;
	background-color: pink;
	width: 30%;
	}

#site-footer {
	clear: both;
	background-color: brown;
	}




























